<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.manimaran.wikiaudio">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".acticity.SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".acticity.LoginActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".acticity.Spell4Wiktionary"
            android:theme="@style/ActionBar" />
        <activity
            android:name=".acticity.SearchActivity"
            android:theme="@style/ActionBar" />
        <activity
            android:name=".acticity.MainActivity"
            android:theme="@style/ActionBar" />
        <activity
            android:name=".acticity.WiktionaryWebActivity"
            android:theme="@style/ActionBar" />
        <activity
            android:name=".acticity.AboutActivity"
            android:theme="@style/ActionBar" />

        <activity
            android:name=".acticity.UploadToCommonsActivity"
            android:theme="@style/ActionBar" />
    </application>

</manifest>