<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Network permissions -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Audio recording permission -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <!-- Account management permissions (legacy, max SDK 22) -->
    <uses-permission
        android:name="android.permission.AUTHENTICATE_ACCOUNTS"
        android:maxSdkVersion="22" />
    <uses-permission
        android:name="android.permission.GET_ACCOUNTS"
        android:maxSdkVersion="22" />
    <uses-permission
        android:name="android.permission.MANAGE_ACCOUNTS"
        android:maxSdkVersion="22" />

    <!-- Notification permission for Android 13+ -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <!-- Foreground service permission for Android 14+ -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />


    <application
        android:name=".Spell4WikiApplication"
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:configChanges="locale"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:windowSoftInputMode="stateAlwaysHidden|adjustResize"
        android:networkSecurityConfig="@xml/network_security_config"
        android:enableOnBackInvokedCallback="true"
        tools:ignore="GoogleAppIndexingWarning"
        tools:targetApi="tiramisu">

        <!-- Old Splash Activity (kept for compatibility) -->
        <activity
            android:name="com.manimarank.spell4wiki.ui.splash.SplashActivity"
            tools:ignore="LockedOrientationActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.FullScreen"
            android:exported="false" />

        <!-- New Compose Splash Activity (Main Launcher) -->
        <activity
            android:name="com.manimarank.spell4wiki.ui.compose.splash.SplashComposeActivity"
            tools:ignore="LockedOrientationActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.FullScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- App Intro Activity -->
        <activity android:name="com.manimarank.spell4wiki.ui.compose.intro.AppIntroComposeActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"
            android:theme="@style/AppTheme.FullScreen"/>



        <!-- Settings Compose Activity -->
        <activity android:name="com.manimarank.spell4wiki.ui.compose.settings.SettingsComposeActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"
            android:theme="@style/AppTheme.NoActionBar"/>

        <!-- About Compose Activity -->
        <activity android:name="com.manimarank.spell4wiki.ui.compose.about.AboutComposeActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"
            android:theme="@style/AppTheme.NoActionBar"/>

        <!-- Contributors Compose Activity -->
        <activity android:name="com.manimarank.spell4wiki.ui.compose.contributors.ContributorsComposeActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"
            android:theme="@style/AppTheme.NoActionBar"/>

        <!-- Spell4Word Compose Activity -->
        <activity android:name="com.manimarank.spell4wiki.ui.compose.spell4word.Spell4WordComposeActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"
            android:theme="@style/AppTheme.NoActionBar"/>

        <!-- Spell4WordList Compose Activity -->
        <activity android:name="com.manimarank.spell4wiki.ui.compose.spell4wordlist.Spell4WordListComposeActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name="com.manimarank.spell4wiki.ui.settings.LanguageSelectionActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"
            tools:ignore="LockedOrientationActivity" />

        <!-- Login Activity -->
        <activity
            android:name="com.manimarank.spell4wiki.ui.compose.auth.LoginComposeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.manimarank.spell4wiki.ui.spell4wiktionary.Spell4Wiktionary"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.manimarank.spell4wiki.ui.spell4wiktionary.WiktionarySearchActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.manimarank.spell4wiki.ui.main.MainActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.manimarank.spell4wiki.ui.about.AboutActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.manimarank.spell4wiki.ui.about.ListItemActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.manimarank.spell4wiki.ui.about.ContributorsActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name="com.manimarank.spell4wiki.ui.spell4wiktionary.Spell4WordListActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.manimarank.spell4wiki.ui.spell4wiktionary.Spell4WordActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:parentActivityName="com.manimarank.spell4wiki.ui.main.MainActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="com.manimarank.spell4wiki.ui.webui.CommonWebActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.manimarank.spell4wiki.ui.settings.SettingsActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"
            android:theme="@style/AppTheme" />

        <activity
            android:name="com.manimarank.spell4wiki.ui.recordaudio.RecordAudioActivity"
            android:screenOrientation="unspecified"
            tools:ignore="LockedOrientationActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"
            android:theme="@style/RecordAudioDialogTheme" />

        <activity
            android:name="com.manimarank.spell4wiki.ui.webui.CommonWebContentActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.manimarank.spell4wiki.ui.compose.webview.CommonWebContentComposeActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"
            android:theme="@style/AppTheme" />

        <activity
            android:name="com.manimarank.spell4wiki.ui.compose.main.MainComposeActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"
            android:theme="@style/AppTheme" />

        <activity
            android:name="com.manimarank.spell4wiki.ui.compose.search.SearchComposeActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"
            android:theme="@style/AppTheme" />

        <service android:name=".data.auth.WikiAuthenticatorService"
            android:exported="false">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>
            <meta-data android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/wikimedia_authenticator" />
        </service>
    </application>

</manifest>